# Powszechne
.idea/
.vscode/
.vs/
.DS_Store
*.log
*.zip

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
google-services.json
*.jks

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.db
firebase-credentials.json
