# Powszechne
.idea/
.vscode/
.DS_Store
*.log
*.zip

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
firebase-credentials.json
alembic.ini
